html {
  font-size: 16px;
  scroll-behavior: auto;
}

body {
  background-color: white;
  font-family: var(--primary);
  line-height: 1.5;
  color: black;
}

a {
  color: var(--red);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--red);
  text-decoration: underline;
}

.browser-width {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.desktop-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop);
  width: calc(100% - 2rem);
}

.slim {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--slim);
}

.mobile-only,
.desktop-only {
  display: none;
}

.hero {
  background-color: var(--smoke);
  height: 80vh;
  position: relative;
  z-index: 0;
}

.header-areas {
  align-items: center;
  display: grid;
  grid-template-columns: 250px auto;
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: auto;
}

header {
  position: relative;
}

.header-areas .logo {
  background-color: var(--red);
  padding: 1rem 1rem 1rem 0;
  position: relative;
}

.header-areas .logo:before {
  background-color: var(--red);
  content: " ";
  height: 100%;
  left: -50vw;
  position: absolute;
  top: 0;
  width: 50vw;
}

.header-areas .menu-toggle {
  align-items: center;
  color: var(--red);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  line-height: 0;
  background-color: black;
  height: 100%;
}

body:not(.menu-active) .header-areas .menu-close,
body.menu-active .header-areas .menu-open {
  display: none;
}

.header-areas .nav {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
}