html {
  font-size: 16px;
  scroll-behavior: auto;
}

body {
  background-color: white;
  font-family: var(--primary);
  line-height: 1.5;
  color: black;
}

a {
  color: var(--red);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--red);
  text-decoration: underline;
}

.browser-width {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.desktop-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop);
  width: calc(100% - 2rem);
}

.slim {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--slim);
}

.mobile-only,
.desktop-only {
  display: none;
}

.header-areas {
  align-items: center;
  display: grid;
  grid-template-columns: 250px auto;
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: auto;
}

header {
  position: relative;
}

.header-areas .logo {
  padding: 1rem 1rem 1rem 0;
  position: relative;
}

.header-areas .logo a {
  position: relative;
  z-index: 1;
}

.header-areas .logo-background {
  background-color: var(--red);
  content: " ";
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.header-areas .logo:before {
  background-color: var(--red);
  content: " ";
  height: 100%;
  left: -50vw;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: 0;
}

.header-areas .menu-toggle {
  align-items: center;
  color: var(--red);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  line-height: 0;
  background-color: black;
  height: 100%;
}

body:not(.menu-active) .header-areas .menu-close,
body.menu-active .header-areas .menu-open {
  display: none;
}

.header-areas .nav {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
}

.hero {
  background-color: var(--smoke);
  margin-bottom: 2rem;
  position: relative;
  z-index: 0;
}

.hero-carousel .image {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-carousel.monochrome .image {
  filter: grayscale(100%);
}

.hero-carousel .slick-list {
  height: 80vh;
}

.hero-carousel .slick-track {
  height: 100%;
}

.hero-carousel .content {
  color: white;
  left: 50%;
  max-width: var(--desktop);
  position: absolute;
  bottom: 6rem;
  translate: -50% 0;
  width: calc( 100% - 2rem );
}

.hero-carousel .content h2 {
  color: white;
  font: normal 3.5rem/1 var(--decorative);
  hyphens: auto;
}

.hero-carousel .image:before {
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.hero-carousel .slick-dots {
  bottom: 3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.hero-carousel .slick-dots button {
  background-color: rgba(255,255,255,0.5);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0;
  display: block;
  height: 8px;
  width: 8px;
}

.hero-carousel .slick-dots .slick-active button {
  background-color: rgba(255,255,255,1);
}

.hero-carousel:after {
  background-size: cover;
  background-image: url(../images/hero-mask.png);
  bottom: -5px;
  content: " ";
  display: block;
  height: 2rem;
  left: -5px;
  width: calc( 100% + 5px );
  position: absolute;
  z-index: 1;
}

.events-carousel {
  margin: 2rem 0 2rem 50%;
  translate: -50% 0;
  width: 100vw;
}

.events-carousel .slick-slide {
  margin: 0 1rem;
}

.events-carousel .slide {
  background-color: var(--smoke);
  position: relative;
}

.events-carousel .program-image {
  background-position: center;
  background-size: cover;
  height: 0;
  padding-top: 12rem;
}

.events-carousel .program-title {
  margin: 1rem;
}

.events-carousel .program-meta {
  align-items: center;
  display: flex;
  color: white;
  font-size: 0.85rem;
  translate: -1rem 0;
  white-space: nowrap
}

.events-carousel .program-date {
  background-color: black;
  padding: 0.25rem 1rem 0.25rem 2rem;
}

.events-carousel .program-venue {
  background-color: var(--red);
  padding: 0.25rem 1rem;
}

.events-carousel .program-excerpt {
  font-size: 0.85rem;
  padding: 1rem;
}

.events-carousel .program-excerpt p {
  font-family: var(--primary);
}

.events-carousel .slick-arrow {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  position: absolute;
  top: 6rem;
  z-index: 2;
}

.events-carousel .slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.events-carousel .slick-arrow.slick-prev {
  left: 1rem;
}

.events-carousel .slick-arrow.slick-next {
  right: 1rem;
}

.events-carousel-headings {
  margin-top: 2rem;
  text-align: center;
}

.home h2 {
  color: var(--red);
}

.events-carousel-headings .description {
  font: italic 1rem var(--secondary);
}

.page-content p {
  font-family: var(--secondary);
}

body.menu-active .header-areas .nav {
  max-height: 100vh;
  overflow: auto;
}

.nav-content {
  padding-top: 1rem;
  position: relative;
  z-index: 10;
}

.nav-content a {
  color: white;
  display: block;
  font: normal 1.25rem var(--default);
  margin-bottom: 0.5rem;
}

.menu-shader {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 500ms linear 0s;
  width: 100vw;
  z-index: -1;
}

body.menu-active .menu-shader {
  opacity: 1;
  z-index: 0;
}