html {
  font-size: 16px;
  scroll-behavior: auto;
}

body {
  background-color: white;
  font-family: var(--primary);
  line-height: 1.5;
  color: black;
}

a {
  color: var(--red);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--red);
  text-decoration: none;
}

.browser-width {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.desktop-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop);
  width: calc(100% - 2rem);
}

.slim {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--slim);
}

.mobile-only,
.desktop-only {
  display: none;
}

.header-areas {
  align-items: center;
  display: grid;
  grid-template-columns: 250px auto;
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: auto;
}

header {
  position: relative;
}

.header-areas .logo {
  padding: 1rem 1rem 1rem 0;
  position: relative;
}

.header-areas .logo a {
  position: relative;
  z-index: 1;
}

.header-areas .logo-background {
  background-color: var(--red);
  content: " ";
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.header-areas .logo:before {
  background-color: var(--red);
  content: " ";
  height: 100%;
  left: -50vw;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: 0;
}

.header-areas .menu-toggle {
  align-items: center;
  color: var(--red);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  line-height: 0;
  background-color: black;
  height: 100%;
}

body:not(.menu-active) .header-areas .menu-close,
body.menu-active .header-areas .menu-open {
  display: none;
}

.header-areas .nav {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
}

.hero {
  background-color: var(--smoke);
  margin-bottom: 2rem;
  position: relative;
  z-index: 0;
}

.hero-carousel .image {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-carousel.monochrome .image {
  filter: grayscale(100%);
}

.hero-carousel .slick-list {
  height: 80vh;
}

.hero-carousel .slick-track {
  height: 100%;
}

.hero-carousel .content {
  color: white;
  left: 50%;
  max-width: var(--desktop);
  position: absolute;
  bottom: 6rem;
  translate: -50% 0;
  width: calc( 100% - 2rem );
}

.hero-carousel .content h2 {
  color: white;
  font: normal 3.5rem/1 var(--decorative);
  hyphens: auto;
}

.hero-carousel .image:before {
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.hero-carousel .slick-dots {
  bottom: 3rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.hero-carousel .slick-dots button {
  background-color: rgba(255,255,255,0.5);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0;
  display: block;
  height: 8px;
  width: 8px;
}

.hero-carousel .slick-dots .slick-active button {
  background-color: rgba(255,255,255,1);
}

.hero-carousel:after {
  background-size: cover;
  background-image: url(../images/hero-mask.png);
  bottom: -5px;
  content: " ";
  display: block;
  height: 2rem;
  left: -5px;
  width: calc( 100% + 5px );
  position: absolute;
  z-index: 1;
}

.events-carousel {
  margin: 2rem 0 2rem 50%;
  translate: -50% 0;
  width: 100vw;
}

.events-carousel .slick-slide {
  margin: 0 1rem;
}

.events-carousel .slide {
  background-color: var(--smoke);
  position: relative;
}

.events-carousel .program-image {
  background-position: center;
  background-size: cover;
  height: 0;
  padding-top: 12rem;
}

.events-carousel .program-title {
  margin: 1rem;
}

.events-carousel .program-meta {
  align-items: center;
  display: flex;
  color: white;
  font-size: 0.85rem;
  translate: -1rem 0;
  white-space: nowrap
}

.events-carousel .program-date {
  background-color: black;
  padding: 0.25rem 1rem 0.25rem 2rem;
}

.events-carousel .program-venue {
  background-color: var(--red);
  padding: 0.25rem 1rem;
}

.events-carousel .program-excerpt {
  font-size: 0.85rem;
  padding: 1rem;
}

.events-carousel .program-excerpt p {
  font-family: var(--primary);
}

.events-carousel .slick-arrow {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  padding: 0;
  position: absolute;
  top: 6rem;
  z-index: 2;
}

.events-carousel .slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.events-carousel .slick-arrow.slick-prev {
  left: 1rem;
}

.events-carousel .slick-arrow.slick-next {
  right: 1rem;
}

.events-carousel-headings {
  margin-top: 2rem;
  text-align: center;
}

.home h2 {
  color: var(--red);
}

.events-carousel-headings .description {
  font: italic 1rem var(--secondary);
}

.page-content p {
  margin-bottom: 1rem;
}

body.menu-active .header-areas .nav {
  max-height: 100vh;
  overflow: auto;
}

.nav-content {
  padding-top: 1rem;
  position: relative;
  z-index: 10;
}

.nav-content a {
  color: white;
  display: block;
  font: normal 1.25rem var(--default);
  margin-bottom: 0.5rem;
}

.nav-content a:hover {
  opacity: 0.85;
  text-decoration: none;
}

.nav-content .current-menu-item a {
  color: var(--red);
  font-weight: bold;
}

.menu-shader {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 500ms linear 0s;
  width: 100vw;
  z-index: -1;
}

body.menu-active .menu-shader {
  opacity: 1;
  z-index: 0;
}

.big-cta {
  position: relative;
}

.big-cta .image {
  background-position: center;
  background-size: cover;
  height: 0;
  padding-top: 100%;
}

.big-cta .image.desktop {
  display: none;
}

.big-cta .content {
  background-color: black;
  color: white;
  display: table;
  translate: 0 -5px;
  width: 100%;
}

.big-cta .blurb {
  font-size: 0.85rem;
  margin-top: -1rem;
  padding: 0 0.5rem;
}

.big-cta h2 {
  background-color: black;
  color: white;
  display: table;
  font-size: 1rem;
  padding: 0.5rem;
  translate: 0 -1.5rem;
}

.big-cta a.button {
  margin: 0.5rem;
}

a.button,
.asw a.wp-block-button__link {
  background-color: var(--red);
  border-radius: 8px;
  color: white;
  display: table;
  padding: 1rem;
}

a.button:hover,
.asw a.wp-block-button__link:hover {
  opacity: 0.85;
  text-decoration: none;
}

a.button:after,
.asw a.wp-block-button__link:after {
  content: "\2192";
  margin-left: 0.5rem;
  transition: all 500ms ease 0s;
}

a.button:hover:after {
  margin-left: 1rem;
}

a.button.reversed:after {
  display: none;
}

a.button.reversed:before {
  content: "\2190";
  margin-right: 0.5rem;
}

footer {
  background-color: black;
  color: white;
  padding: 2rem 0;
}

.cta-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1rem auto;
}

.cta-grid-item {
  background-color: black;
  display: block;
}

.cta-grid.monochrome .cta-grid-image {
  filter: grayscale(1);
}

.cta-grid-image {
  background-position: center;
  background-size: cover;
  height: 0;
  padding-top: 50%;
}

.cta-grid-item .content {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.cta-grid-button {
  background-color: var(--red);
  border-radius: 4px;
  display: table;
  padding: 0 0.5rem;
}

.cta-grid-item:hover {
  opacity: 0.85;
}

.cta-grid-summary {
  color: white;
  font: italic 1rem var(--secondary);
  padding: 0 1rem 0.5rem 1rem;
}

.offset-poster {
  margin: 1rem auto;
}

.offset-poster .offset-poster-image {
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
  padding-top: 66.66%;
  width: calc( 100vw - 1rem );
  translate: -1rem 0;
}

.offset-poster.right .offset-poster-image {
  translate: 0;
}

.offset-poster .heading {
  font: 300 1.5rem var(--primary);
  text-transform: uppercase;
}

.offset-poster .content {
  margin: 1rem 0;
}

.footer-newsletter {
  background-color: var(--smoke);
  padding: 90px 0 1rem 0;
  position: relative;
}

.footer-newsletter input {
  background-color: white;
  border: 1px solid white;
  display: flex;
  font: normal 0.85rem var(--primary);
  height: 2rem;
  padding: 0 0.5rem;
  width: 100%;
}

.footer-newsletter input[type=submit] {
  background-color: var(--red);
  border-color: var(--red);
  color: white;
  cursor: pointer;
  font: bold 0.85rem var(--primary);
  width: fit-content;
}

.footer-newsletter input[type=submit]:hover {
  background-color: black;
}

.footer-newsletter input:focus {
  border-color: var(--red);
  outline: none;
}

.footer-newsletter label {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer-newsletter .field {
  margin-bottom: 1rem;
}

.footer-newsletter .required {
  color: var(--red);
}

.footer-newsletter:before {
  background: transparent url('../images/newsletter-mask.png') center repeat-x;
  content: " ";
  height: 90px;
  left: 0;
  position: absolute;
  top: -1rem;
  width: 100%;
}

.footer-content {
  color: var(--smoke);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.footer-content p {
  margin-bottom: 1rem;
}

.footer-content ul {
  list-style-type: none;
}

.footer-content a {
  color: white;
}

.footer-content a:hover {
  color: var(--red);
}

.footer-content h3 {
  margin-bottom: 1rem;
}

.hero.no-image {
  background-color: var(--charcoal);
  color: white;
  padding: 10rem 0 2rem 0;
}

.hero.has-image {
  background-color: var(--charcoal);
  color: white;
  min-height: 80vh;
}

.hero-image {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero.monochrome .hero-image { 
  filter: grayscale(100%);
}

.hero-image:before {
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.hero-image:after {
  background-size: cover;
  background-image: url(../images/hero-mask.png);
  bottom: -5px;
  content: " ";
  display: block;
  height: 2rem;
  left: -5px;
  width: calc( 100% + 5px );
  position: absolute;
  z-index: 1;
}

.hero h1 {
  font: normal 3.5rem/1 var(--decorative);
}

.hero.has-image h1 {
  display: block;
  bottom: 4rem;
  left: 50%;
  position: absolute;
  translate: -50% 0;
  width: calc( 100% - 2rem);
  max-width: var(--desktop);
}

.programs-toggle {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

button {
  background-color: var(--red);
  border: 0;
  border-radius: 8px;
  display: table;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
}

li.active button,
button.active {
  background-color: var(--charcoal);
}

button:hover {
  opacity: 0.85;
}

.rs-program {
  background: white;
}

.asw .rs-program-thumbnail {
  margin: 0;
}

.rs-program-thumbnail img {
  width: calc( 100% + 2rem );
}

.asw .rs-program-content-wrap {
  padding: 1rem 0;
}

.asw .rs-program-content-wrap .rs-program-title {
  grid-column: 1 / span 2;
  padding: 0;
}

.asw .rs-program-content-wrap .rs-program-excerpt {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.asw .rs-program-content-wrap .rs-program-date {
  background-color: black;
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0;
  padding: .25rem 1rem;
  translate: -1rem 0;
}

.asw .rs-program-content-wrap .asw .rs-program-location {
  background-color: var(--red);
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  translate: -1rem 0;
}

.asw .rs-program-content-wrap .asw .rs-program-with-teachers {
  font-weight: 400;
}

.single-program .programs-toggle,
.programs:not(.single-program) .programs-link {
  display: none;
}

.programs:not(.single-program) .page-content {
  max-width: 800px;
}

.asw .single-program {
  margin-top: 2rem;
}

.asw .single-program .entry-content {
  float: none;
}

.asw .single-program .rs-program-meta {
  background-color: var(--smoke);
  border-radius: 0;
  border: 0;
  float: none;
  margin: 0;
}

.asw .rs-meta-content-container {
  margin: 0;
  padding: 1rem;
}

.asw .rs-meta-content-container p {
  font-family: var(--primary);
  margin-bottom: 1rem;
}

.asw .single-program {
  margin-top: 2rem;
}

.asw .single-program .entry-content {
  float: none;
}

.asw .single-program .rs-program-meta {
  background-color: var(--smoke);
  border-radius: 0;
  border: 0;
  float: none;
  margin: 0;
}

.asw .rs-meta-content-container {
  margin: 0;
  padding: 1rem;
}

.asw .rs-meta-content-container p {
  font-family: var(--primary);
  margin-bottom: 1rem;
}

.asw .rs-meta-content-container a.rs-button, .asw .rs-meta-content-container .rs-register-link a {
  float: none;
  margin: 0 0 1rem 0;
  width: auto;
}

.asw .rs-regsitration-wrap {
  margin: 0;
}

.asw .rs-register-link a, #submit-registration, .asw .rs-button {
  background-color: var(--red);
  border: 0;
  border-radius: 8px;
  color: white;
  display: table;
  margin-bottom: 1rem;
  width: auto;
}

.asw .rs-register-link a:hover, 
#submit-registration:hover, 
.asw .rs-button:hover {
  opacity: 0.85;
}

h1.rs-program-title {
  font-size: 1.5rem;
}

.asw h2.rs-program-teacher {
  font: italic 1.5rem/1 var(--secondary);
}

.single-program .rs-program-date {
  font: bold 1rem var(--primary);
  margin: 1rem 0;
}

body:not(.home) .page-content {
  padding: 2rem 0;
}

.asw .rs-program,
.asw .rs-teacher {
  margin-bottom: 2rem;
}

.programs.zcnyc .rs-program:not(.zen-center-of-nyc-fire-lotus-temple),
.programs.online .rs-program:not(.video-conference),
.programs.zmm .rs-program:not(.zen-mountain-monastery),
.programs.zmm .rs-program.video-conference {
  display: none;
}

.programs .rs-program.practicing-member,
.programs .rs-program.student-donations {
  display: none !important;
}

.programs-filter ul {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

.programs-filter .label {
  margin-bottom: 1rem;
}

.single-program .programs-filter {
  display: none;
}

body.teachers .rs-teacher.rs-group {
  display: none;
}

.single-teacher {
  margin: 2rem auto;
  max-width: 800px;
}

.single-teacher .rs-teacher-programs {
  clear: both !important;
  float: none;
}

.single-teacher .rs-teacher-programs .program {
  clear: both !important;
  float: none !important;
  margin-bottom: 2rem;
}

.single-teacher .rs-teacher-programs h3 {
  margin-bottom: 1rem;
}

.single-teacher .rs-teacher-content {
  padding: 1rem 0 !important;
}

.page-content h2.wp-block-heading {
  font: bold 1.5rem var(--primary);
  margin-bottom: 1rem;
}

.page-content h3.wp-block-heading {
  font: 300 1.5rem var(--primary);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.page-content h4.wp-block-heading {
  font: bold 1rem var(--primary);
  margin-bottom: 1rem;
}

.page-content ul.wp-block-list, 
.page-content ol.wp-block-list {
  margin: 1.25rem;
}

.page-content ul.wp-block-list {
  list-style-type: square;
}

.page-content .wp-block-list li {
  margin-bottom: 0.5rem;
}

.wp-block-quote {
  border-color: var(--red);
}

.cta-grid h3 {
  font: bold 1rem var(--primary);
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-carousel .content h2,
.hero h1 {
  animation: fadeIn 1s ease 1s 1 normal forwards;
  opacity: 0;
}

@media screen and ( max-width: 1079px ) {
  .mobile-only {
    display: block;
  }
}