@media screen and (min-width: 1080px) {

  .desktop-only {
    display: block;
  }

  .hero-carousel .content h2 {
    font: normal 4rem/1 var(--decorative);
    hyphens: auto;
  }

  .hero-carousel .slick-dots {
    bottom: 3rem;
  }

  .events-carousel {
    margin: 2rem auto;
    max-width: var(--desktop);
    translate: 0;
    width: 100%;
  }

  .events-carousel .slick-arrow.slick-next {
    right: calc(((100% - 800px) / 2) - 3rem);
  }

  .events-carousel .slick-arrow.slick-prev {
    left: calc(((100% - 800px) / 2) - 3rem);
  }

  .events-carousel:before {
    background: transparent url('../images/programs-carousel-mask.png') left top no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: calc(100% + 10px);
    left: 0;
    position: absolute;
    top: -5px;
    width: calc((100% - 800px) / 2.5);
    z-index: 2;
  }

  .events-carousel:after {
    background: transparent url('../images/programs-carousel-mask.png') left top no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: calc(100% + 10px);
    right: 0;
    rotate: 180deg;
    position: absolute;
    top: -5px;
    width: calc((100% - 800px) / 2.5);
    z-index: 2;
  }

  .cta-grid.columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .offset-poster {
    margin-left: 50%;
    position: relative;
    translate: -50% 0;
    width: 100vw;
  }

  .offset-poster-content {
    flex-basis: auto;
    width: 400px;
  }

  .offset-poster .offset-poster-image {
    flex-basis: 50%;
    width: calc(50vw - 400px);
  }

  .offset-poster.right {
    justify-content: flex-end;
  }

  .footer-content {
    grid-gap: 2rem;
  }

  .hero h1 {
    font-size: 6rem;
  }

  .podcast-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (min-width: 1280px) {
  .header-areas {
    left: calc((100vw - var(--desktop)) / 2);
  }
}