@media screen and (min-width: 1080px) {

    .hero-carousel .image:before {
      background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
      width: 50%;
    }

    .hero-carousel .content {
      color: white;
      left: 50%;
      max-width: var(--desktop);
      position: absolute;
      bottom: 50%;
      translate: -50% 50%;
    }
    
    .hero-carousel .content h2 {
      font: normal 6rem/1 var(--decorative);
      hyphens: auto;
      max-width: 50%;
    }

    .hero-carousel .slick-dots {
        bottom: 4rem;
    }

}

@media screen and ( min-width: 1280px ) {
    .header-areas {
        left: calc( (100vw - var(--desktop)) / 2 );
    }
}