@media screen and (min-width: 800px) {

    .events-carousel .slide-areas {
        align-items: stretch;
        display: grid;
        grid-template-columns: 33.33% 1fr;
        min-height: 15rem;
    }
    
    .events-carousel .program-image {
        height: 100%;
        padding: 0;
    }
    
    .events-carousel .program-meta {
        translate: 0;
    }
    
    .events-carousel .program-date {
        padding-left: 1rem;
    }

    .events-carousel .slick-slide {
        margin: 0 0.5rem;
    }

    .events-carousel .slick-arrow {
        top: 50%;
        translate: 0 -50%;
    }

    .big-cta .image.mobile {
        display: none;
    }
    
    .big-cta .image.desktop {
        display: block;
        padding-top: 50%;
    }
    
    .big-cta .content {
        background: linear-gradient( to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) );
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 25%;
        position: absolute;
        translate: 0;
    }
    
    .big-cta h2 {
        grid-column: 1 / span 2;
        font-size: 1.5rem;
        padding: 1rem;
        width: fit-content;
    }
    
    .big-cta .blurb {
        font-size: 1rem;
        margin: 0;
        padding: 1rem;
    }
    
    .big-cta a.button {
        margin: 1rem;
    }

    .cta-grid.columns-3 {
        grid-template-columns: repeat(3, 1fr);
      }

    .cta-grid.columns-2,
    .cta-grid.columns-4 {
      grid-template-columns: 1fr 1fr;
    }

    .offset-poster {
        display: flex;
    }
    
    .offset-poster .offset-poster-image {
        flex-basis: 50%;
        margin: 0;
        padding: 0;
        translate: -1rem 0;
    }
    
    .offset-poster-content {
        flex-basis: 50%;
    }
    
    .offset-poster.right .offset-poster-image {
        order: 2;
        translate: 1rem 0;
    }

    .footer-newsletter .field:not(:last-of-type) {
        flex-basis: 100%;
    }

    .footer-newsletter .fields {
        align-items: flex-end;
        display: flex;
        gap: 1rem;
        justify-content: stretch;
    }

    .footer-content {
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fill, minmax(0, 50%));
    }

}